<div class="container">
  <table id="table_list" class="table table-bordered" style="width:100%">
    <thead>
      <tr>
        <th><%=  sort_link t('mountain.name') %></th>
        <th><%=  sort_link 'elevation' %></th>
        <th><%=  sort_link 'range' %></th>
        <th><%=  sort_link 'country' %></th>
        <th><%=  sort_link 'difficulty' %></th>
        <th><%=  sort_link 'climbing Period' %></th>
      </tr>
    </thead>
    <% @mountains.each do |mountain| %>
    <tr>
      <td><%= link_to mountain.name, mountain %></td>
      <td><%= mountain.elevation %> mt.</td>
      <td><%= mountain.range %></td>
      <td><%= mountain.country %></td>
      <td><%= mountain.difficulty %></td>
      <td><%= mountain.climb_period %></td>
    </tr>
    <% end %>
  </table>
    <%= will_paginate @mountain, renderer: BootstrapPagination::Rails %>
</div>
