<div class="container">
  <table id="table_list" class="table table-bordered" style="width:100%" >
    <thead>
      <tr>
        <th><%= sort_link "mountain" %></th>
        <th><%= sort_link "title" %></th>
        <th><%= sort_link "route" %></th>
        <th><%= sort_link "date" %></th>
        <th><%= sort_link "price" %></th>
      </tr>
    </thead>
    <% @climbs.each do |climb| %>
    <tr>
      <td><%= climb.mountain.name %></td>
      <td><%= link_to climb.title, climb %> - <%= link_to climb.guide_service.name, climb.guide_service %></td>
      <td><%= climb.route %></td>
      <td><%= climb.date %></td>
      <td>$ <%= number_with_precision(climb.price, :precision => 2, :delimiter => ',') %></td>
    </tr>
    <% end %>
  </table>
    <%= will_paginate @climbs, renderer: BootstrapPagination::Rails %>
</div>
