<div id="top_bar" class="pull-right">
<%= link_to image_tag("logo.png", size: "120x40"), home_index_path %>
<h5 class="font_meie_script"> - When the summit calls, we answer - </h5>


<h2 class="font_meie_script">Climbs</h2>
<!--Search Form Starts-->
</div>
<div class="form-group" >
  <div class="input-group">
    <%= form_tag(mountains_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Climbs by Mountain", class: 'form-control' %>
    <%= submit_tag "Search", class: 'btn btn-sm btn-info' %>
  <% end %>
</div>
</div >

<!--Search Form Finishes-->

<div class="divider"></div>

  <%= render partial: 'climbs/climbs' %>
