<!-- Header -->
<div id="top_bar" class="pull-right">
  <%= link_to image_tag("Summit Call Logo 4.png", size: "120x40"), home_index_path %>
  <h5 class="quote"> <%= t('quote') %> </h5>
  <div class="pull-right user-info">
    <% if user_signed_in? %>
    <strong><big> <%= current_user.first_name%> <%= current_user.last_name%> </big></strong> |
    <%= link_to t('profile'), current_user, :class => 'navbar-link' %> |
    <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to t('signup'), new_user_registration_path, :class => 'navbar-link' %> -
    <%= link_to t('signin'), new_user_session_path, :class => 'navbar-link' %>
    <% end %>
  </div>
</div>
<!-- Header -->

<!--Search Form Starts-->
<h3 class="quote"><%=t('climb-search-all') %></h3>
<div class="form-group" >
  <div class="input-group">
    <%= form_tag(climbs_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: t('mountain-climbs-search'), class: 'form-control' %>
    <%= submit_tag t('search'), class: 'btn btn-sm btn-info' %>
    <% end %>
  </div>
</div >
<!--Search Form Finishes-->
<% if current_user.access == "Guide" || current_user.access == "Admin" %>
<div style="background-color: transparent">
  <div class="center"><big><em>
    <%= t('climb-add-climb-message') %> </em><button type="button xsm" class="btn btn-info btn-sm"><%=link_to t('climb-add-climb'), new_climb_path %></button>
  </big></div>
</div>
<% end %>

<%= render partial: 'climbs/climbs' %>
