<%= link_to image_tag("logo.png", size: "120x40"), home_index_path %>
<h5 class="font_meie_script"> - When the summit calls, we answer - </h5>

<h2 class="font_meie_script">Climbs</h2>

<div class="divider"></div>

<div class="container">
  <table style="width:100%">
    <tr>
      <th></th>
      <th>Mountain</th>
      <th>Route</th>
      <th>Date</th>
      <th>Price</th>
    </tr>
    <% @climbs.each do |climb| %>
    <tr>
      <td><%= link_to climb.title, climb %></td>
      <td><%= climb.mountain_id %></td>
      <td><%= climb.route %></td>
      <td><%= climb.date %></td>
      <td>$<%= climb.price %></td>
    </tr>
    <% end %>
  </table>
  </div>

  <% @mountains.each do |mountain| %>
  <table>
    <tr>
            <td><%= mountain.id %></td>
      <td><%= mountain.name %></td>
    </tr>
  </table>
    <% end %>
