<div class="pull-right"><%= link_to "Climbs", climbs_path  %></div>

  <%= link_to image_tag("logo.png", size: "120x40"), home_index_path %>
<h5 class="font_meie_script"> - When the summit calls, we answer - </h5>

<h1 class="font_meie_script"><strong><%= @climb.title %></strong></h1>

<div class="divider"></div>

<div class="container">
  <ul>
    <p><%= @climb.description%></p>
    <p>Route: <strong><%= @climb.route%></strong></p>
    <p>Date: <strong><%= @climb.date%></strong> - <strong><%=@climb.days%></strong> days</p>
    <p>Difficulty: <strong><%= @climb.difficulty%></strong></p>
    <p>Price: <strong>$ <%= @climb.price%></strong></p>
    <%if current_user.present?%>
      <button type="button" class="btn btn-info"><%=link_to "Sign up for this climb", new_charge_path %></button>
    <%else%>
      <button type="button" class="btn btn-info"><%=link_to "Sign up for this climb", new_user_registration_path %></button>
    <%end%>
    <p>Gear List: <%= @climb.gearlist%></p>
  </ul>
</div>
