<!DOCTYPE html>
<html>
<head>
  <title>The Summit Call</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag("logo.png", size: "380x120") %>
  <h3 class="font_meie_script"> - When the summit calls, we answer - </h3>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Mountains", mountains_path %></li>
      <li><%= link_to "Search Climbs", climbs_path  %></li>
      <li><%= link_to "Guiding Services", companies_index_path  %></li>
      <div class="pull-right user-info">
        <% if user_signed_in? %>
        Signed in as: <strong> <%= current_user.email%> </strong> |
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> -
        <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </div>
</body>
</html>
