<!DOCTYPE html>
<html>
<head>
  <title>The Summit Call</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container" style='height: 120px;'>
    <!-- Header -->
    <div class="col-lg-8 col-md-8 col-sm-8" style='height: 100%;'>
      <%= image_tag("Summit Call Logo 4.png", style: 'width: auto; height: 105%') %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <!-- Language Picker -->

              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-xs pull-right glyphicon glyphicon-globe" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to t('home.languages.en'), change_locale_path(:en) %>
            </li>
            <li>
              <%= link_to t('home.languages.it'), change_locale_path(:it) %>
            </li>
          </ul>
        </ul>
      </div>


      <!-- Language Picker Ends -->
      <div class="pull-right user-info">
        <h3 class="quote-big"><%=t('home.quote')%></h3>
        <% if user_signed_in? %>
        <strong><big> <%= current_user.first_name%> </big></strong> |
        <%= link_to t('home.profile'), current_user, :class => 'navbar-link' %> |
        <%= link_to t('home.logout'), destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to t('home.signup'), new_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to t('home.signin'), new_user_session_path, :class => 'navbar-link' %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Header -->
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to t('home.mountains'), mountains_path %></li>
      <li><%= link_to t('home.climbs'), climbs_path  %></li>
      <li><%= link_to t('home.guides'), guide_services_path  %></li>
      <li><%= link_to t('home.lodges'), lodges_path  %></li>
    </ul>
  </div>
  <%= yield %>


  <!--Search Form Starts V2-->
  <div class="container_search">
    <div class="input-group"><big><big>
      <%= form_tag(climbs_path, :method => "get", id: "search-form") do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <label for="name" class="quote"><strong><%=t('home.where')%></strong></label>
      <%= text_field_tag :search, params[:search], placeholder: t('home.any-mountain'), class: 'form-control'%>
      <%= text_field_tag :date, params[:date], placeholder: "Any Date", class: 'form-control', "data-provide" => 'datepicker', :value => Time.now.strftime('%m/%d/%Y')%>

      <span class="input-group-btn">
        <%= submit_tag t('home.search'), class: 'btn btn-success' %>
      </span>

      <% end %>
    </big></big></div>
    <!--Search Form Finishes-->
  </div>
  <!--Map - Tips - Advertise-->
  <div class="container">
    <div>
      <label class="quote"><strong><big><%=t('home.map')%></big></strong></label>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8">

      <div id="sidebar_builder" style='width: 100%; height: 400px;  border: 1px solid white;'></div>
    </div>

    <div class="col-lg-3 col-md-2 col-sm-2">
      <div id="offers" style='width: 100%; height: 200px;  border: 1px solid white;'>
        <h5><span class="glyphicon glyphicon-hand-right"><%= t('home.offers')%></span></h5>
      </div>
      <div id="tips" style='width: 100%; height: 200px;  border: 1px solid white;'>
        <h5><span class="glyphicon glyphicon-hand-right"><%= t('home.tips')%></span></h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-2">
      <div id="adveritse" style='width: 100%; height: 400px;  border: 1px solid white;'>
        <%= image_tag("ad1.jpg",  style: 'width: 100%; height: auto' ) %>
        <%= image_tag("ad2.jpg",  style: 'width: 100%; height: auto' ) %>
      </div>
    </div>
    <!--Space Map - Tips - Advertise-->
  </div>

  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'sidebar_builder'}}, function(){

    var json_array = [
      { lat: 40, lng: -80, name: 'Foo', infowindow: "I'm Foo" },
      { lat: 45, lng: -90, name: 'Bar', infowindow: "I'm Bar" },
      { lat: 50, lng: -85, name: 'Baz', infowindow: "I'm Baz" }
    ];

    markers = handler.addMarkers(json_array);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(2);
  });

  </script>
  <!--
  <script type="text/javascript">
  function createSidebarLi(json){
  return ("<li><a>" + json.name + "</a></li>");
};

function bindLiToMarker($li, marker){
$li.on('click', function(){
handler.getMap().setZoom(2);
marker.setMap(handler.getMap()); //because clusterer removes map property from marker
marker.panTo();
google.maps.event.trigger(marker.getServiceObject(), 'click');
})
};

function createSidebar(json_array){
_.each(json_array, function(json){
var $li = $( createSidebarLi(json) );
$li.appendTo('#sidebar_container');
bindLiToMarker($li, json.marker);
});
};

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){
var json_array = [
{ lat: 40, lng: -80, name: 'Foo', infowindow: "I'm Foo" },
{ lat: 45, lng: -90, name: 'Bar', infowindow: "I'm Bar" },
{ lat: 50, lng: -85, name: 'Baz', infowindow: "I'm Baz" }
];

var markers = handler.addMarkers(json_array);

_.each(json_array, function(json, index){
json.marker = markers[index];
});

createSidebar(json_array);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script>
-->
</body>
</html>
