<%= link_to image_tag("logo.png", size: "120x40"), home_index_path %>
<h5 class="font_meie_script"> - When the summit calls, we answer - </h5>

<h2 class="font_meie_script">Climbs</h2>

<div class="divider"></div>

<div class="container">
  <table style="width:100%">
    <tr>
      <th></th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Description</th>
    </tr>
    <% @guide_services.each do |gs| %>
    <tr>
      <td><%= link_to gs.name, gs %></td>
      <td><%= gs.email %></td>
      <td><%= gs.phone %></td>
      <td><%= gs.address %></td>
      <td><%= gs.city %></td>
      <td><%= gs.zip %></td>
      <td><%= gs.country %></td>
      <td><%= gs.description %></td>
    </tr>
    <% end %>
  </table>
  </div>
