<!-- Header -->
<div id="top_bar" class="pull-right">
  <%= link_to image_tag("Summit Call Logo 5.png", size: "120x40"), home_index_path %>
  <h5 class="quote"> <%= t('quote') %> </h5>
  <div class="pull-right user-info">
    <% if user_signed_in? %>
    <strong><big> <%= current_user.first_name%> <%= current_user.last_name%> </big></strong> |
    <%= link_to t('profile'), current_user, :class => 'navbar-link' %> |
    <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to t('signup'), new_user_registration_path, :class => 'navbar-link' %> -
    <%= link_to t('signin'), new_user_session_path, :class => 'navbar-link' %>
    <% end %>
  </div>
</div>
<!-- Header -->
<h2><%=t('guides')%></h2>

<div class="divider"></div>

<div class="container">
  <table id="table_list" class="table table-bordered" style="width:100%">
   <thead>
    <tr>
      <th><%= sort_link t('guide-name') %></th>
      <th><%= sort_link t('guide-city') %></th>
      <th><%= sort_link t('guide-country') %></th>
      <th><%= t('guide-email') %></th>
      <th><%= t('guide-phone') %></th>
    </tr>
    </thead>
    <% @guide_services.each do |gs| %>
    <tr>
      <td><%= link_to gs.name, gs %></td>
      <td><%= gs.city %></td>
      <td><%= gs.country %></td>
      <td><a href="mailto:<%=gs.email%>"><%= gs.email %></td>
      <td><a href="tel:<%=gs.phone%>"><%=gs.phone%></a></td>
    </tr>
    <% end %>
  </table>
    <%= will_paginate @gs, renderer: BootstrapPagination::Rails %>
  </div>

  <div style="background-color: transparent">
    <div class="row pull-right"><small><em>
       <%=t('guide-are-you') %></em><button type="button xsm" class="btn btn-info btn-sm"><%=link_to t('guide-signup'), new_mountain_path %></button>
    </small></div>
  </div>
