<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <%= link_to image_tag("logo.png", size: "120x40"), home_index_path %>
  <h5 class="font_meie_script"> - When the summit calls, we answer - </h5>
  <h2 class="font_meie_script">Lodges</h2>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3 thumb zoom">
      <%=image_tag("Denza.jpg", class: "img-responsive") %>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
      <%=image_tag("Tetons.jpg", class: "img-responsive") %>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
      <%=image_tag("Camp.jpg", class: "img-responsive") %>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3 thumb">
      <%=image_tag("Lobbie.jpg", class: "img-responsive") %>
    </div>
  </div>

  <div class="">
    <h3 class="font_meie_script text-center">Reserve your spot on a mountain hut. Get ready for the summit bid, enjoy gorgous views, rest after a satisfing day in the mountains and meet outdoorsy people like you. </h3>
  </div>

    <h1 class="font_meie_script text-center"><big>Coming soon! Stay tuned!</big></h1>

</body>
</html>
