<!DOCTYPE html>
<html>
<head>
  <title><%=t('company-name')%></title>
<!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

   include Google Web fonts: -->

  <link href='https://fonts.googleapis.com/css?family=Meie+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <%= stylesheet_link_tag  "application", :media => "all" %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application"%>

  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="site">

<%= yield %>

</body>
<footer id="footer" class="panel-footer">
  <div class="row">
    <%= link_to t('about'), home_about_path %> <a href="mailto:mario.roncador@icloud.com"><%=t('email')%>    </a>    <a href="tel:+19073467010"><%=t('call-us')%> </a>      <a href="https://www.linkedin.com/in/marioroncador/">LinkedIn   </a><a href="https://github.com/MarioRoncador">GitHub</a>
    <p><small>Copyright © 2018 <strong><%=t('company-name')%> ®</strong>. All rights reserved </small></p>
  </div>
</footer>
</html>
