<!DOCTYPE html>
<html>
<head>
  <title>The Summit Call</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <!-- include Google Web fonts: -->
  <link href='https://fonts.googleapis.com/css?family=Meie+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="site">

<%= yield %>

</body>
<footer id="footer" class="panel-footer">
  <div class="row">
    <%= link_to "About", home_about_path %> <a href="mailto:mario.roncador@icloud.com">Email    </a>    <a href="tel:+19073467010">Call us</a>      <a href="https://www.linkedin.com/in/marioroncador/">LinkedIn   </a><a href="https://github.com/MarioRoncador">GitHub</a>
    <p><small>Copyright © 2017 <strong>The Summit Call ®</strong>. All rights reserved </small></p>
  </div>
</footer>
</html>
